name: Fetch WTI page
on:
  schedule:
    - cron: "14 */2 * * *"
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  fetch:
    env:
      PY_COLORS: "1"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install seleniumbase
        pip install --upgrade pyautogui python-xlib
    - name: Install chromedriver
      run: |
        seleniumbase install chromedriver
    - name: Fetch WTI page
      timeout-minutes: 5
      run: |
        python sbase_fetcher.py -o wti.html "https://www.investing.com/commodities/crude-oil-contracts"
    - name: Upload wti.html
      uses: actions/upload-artifact@v6
      with:
        name: wti-html
        path: wti.html

